* {
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
}
.container {
  width: 50vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
h1 {
  box-shadow: 0 0 10px red;
  cursor: text;
  padding: 15px;
}
ELAI {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  * {
    position: absolute;
  }
  #text-modifier {
    top: -75%;
    left: -20%;
    .icon {
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
    }
    //TODO: ACTIVATED ICONS

    // TODO: icon 1
    // top: -135%;
    // left: 5%;

    // TODO: icon 2
    // top: 50%;
    // left: -130%;

    // TODO: icon 3
    // top: -80%;
    // left: -120%;
  }
  #translation-modifier {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: move;
    z-index: 1;
  }
  #rotation-modifier {
    top: -75%;
    right: -20%;
  }
  #resize-text-modifier {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    border: none;
    outline: none;
    overflow: hidden;
    white-space: pre-wrap;
    box-sizing: border-box;
  }
  .icon {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #f05050;
    background: white;
    color: #f05050;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
  }
}
