* {
  position: relative;
  margin: 0;
  padding: 0;
  color: rgba(255, 250, 239, 0.856);
}

body {
  height: 200vh;
  background-color: #1a1e1f;
  font-family: monospace;
}

.container {
  width: 50vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  box-shadow: 0 0 10px #ff7272;
  cursor: text;
  padding: 15px;
  transform: translate(10px, 50px) rotate(10deg);
}
