* {
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
}

.container {
  width: 50vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  box-shadow: 0 0 10px red;
  cursor: text;
  padding: 15px;
}

.elai-sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.elai-sidebar .sidebar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background: #1f1e1e;
  border-bottom: 5px solid white;
  color: white;
}

.newElement {
  border: 2px solid black;
  position: absolute;
}

ELAI {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

ELAI * {
  position: absolute;
}

ELAI #text-modifier {
  top: -75%;
  left: -20%;
}

ELAI #text-modifier .icon {
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

ELAI #translation-modifier {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: move;
  z-index: 1;
}

ELAI #rotation-modifier {
  top: -75%;
  right: -20%;
}

ELAI #resize-text-modifier {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  border: none;
  outline: none;
  overflow: hidden;
  white-space: pre-wrap;
  box-sizing: border-box;
}

ELAI .icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #f05050;
  background: white;
  color: #f05050;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
}
