* {
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
  background-color: #333333;
}

.container {
  width: 50vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  box-shadow: 0 0 10px red;
  cursor: text;
  padding: 15px;
  transform: translate(100px, 50px) rotate(100deg);
}
